@font-face {
  font-family: "Lato";
  src: url("../fonts/LATO-fonts/lato-regular.woff2") format("woff2"), url("../fonts/LATO-fonts/lato-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Lato";
  src: url("../fonts/LATO-fonts/lato-bold.woff2") format("woff2"), url("../fonts/LATO-fonts/lato-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Lato";
  src: url("../fonts/LATO-fonts/lato-light.woff2") format("woff2"), url("../fonts/LATO-fonts/lato-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Lato";
  src: url("../fonts/LATO-fonts/lato-black.woff2") format("woff2"), url("../fonts/LATO-fonts/lato-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px; }

.container {
  margin: 0 auto;
  max-width: 1140px; }

@media (max-width: 1599px) {
  .container {
    width: 92%; } }
@media (max-width: 1172px) {
  .container {
    width: 98%; } }
@media (max-width: 767px) {
  .container {
    width: 92%; } }
@media (max-width: 500px) {
  .container {
    width: 92%; } }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  background-color: #222; }
  .header__wrp {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 75px; }
  .header__container-logo {
    margin-right: 41px; }
    @media (max-width: 1172px) {
      .header__container-logo {
        margin-left: 1em;
        margin-right: 41px; } }
    @media (max-width: 767px) {
      .header__container-logo {
        margin-left: 32px; } }
    @media (max-width: 500px) {
      .header__container-logo {
        margin-left: 16px; } }
  .header__container-link:hover .header__container-icon, .header__container-link:focus .header__container-icon {
    fill: #f26376; }
  .header__container-link:active .header__container-icon {
    opacity: 0.8; }
  .header__container-icon {
    fill: #fff; }
  .header__menu-list {
    align-items: center;
    display: flex;
    margin-right: 10px; }
    @media (max-width: 1172px) {
      .header__menu-list {
        margin-right: 16px; } }
    @media (max-width: 767px) {
      .header__menu-list {
        margin-right: 25px; } }
    @media (max-width: 500px) {
      .header__menu-list {
        margin-right: 16px; } }
  .header__burger, .header__menu-title {
    background-color: transparent;
    border: none; }
  .header__link {
    margin-left: 33px; }
    @media (max-width: 767px) {
      .header__link {
        display: none; } }
  .header__container-find {
    display: none;
    float: right;
    margin: 10px 0 0 10px; }
  .header__container-link:hover + .header__container-find, .header__container-link:focus + .header__container-find {
    display: block; }
  .header__container-find:hover {
    display: block; }
  .header__burger:hover + .header__nav, .header__burger:focus + .header__nav {
    display: block; }
  .header__menu-badge {
    background: #f26376;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 8px;
    margin-left: -10px;
    min-width: 12px;
    padding: 3px 2px;
    position: absolute;
    text-align: center; }
  .header__burger:hover .header__icon, .header__burger:focus .header__icon, .header-link:hover .header__icon, .header-link:hover .header__icon {
    cursor: pointer;
    fill: #f26376; }
  .header__burger:active .header__icon, .header-link:active .header__icon {
    opacity: 0.8; }
  .header__icon {
    fill: #fff; }

.header__nav {
  background: #fff;
  box-shadow: -5px 5px 10px rgba(7, 7, 7, 0.5);
  display: none;
  min-height: 764px;
  position: absolute;
  right: 0;
  top: 75px;
  width: 232px;
  z-index: 999;
  padding: 37px 0 0 33px; }
  .header__nav-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    font-style: normal;
    color: #000;
    padding-bottom: 4px;
    text-transform: uppercase; }
  .header__nav-close-button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 16px;
    right: 16px; }

.header__nav:hover {
  display: block; }

.nav-item__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  font-style: normal;
  color: #6f6e6e;
  padding-top: 11px; }
.nav-item__item_link {
  font-size: 14px;
  color: #5d5d5d;
  text-decoration: none; }
.nav-item-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  font-style: normal;
  color: #f26376;
  text-transform: uppercase;
  margin-top: 20px; }

.brand {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media (max-width: 767px) {
    .brand {
      grid-template-columns: 1fr; } }
  .brand__img {
    display: block;
    max-height: 764px;
    width: 100%; }
    @media (max-width: 1172px) {
      .brand__img {
        height: 100%; } }
    .brand__img-wrapper {
      background: #f4f2f3; }
      @media (max-width: 767px) {
        .brand__img-wrapper {
          display: none; } }
  .brand .brand__title {
    border-left: 12px #f26376 solid;
    padding-left: 16px;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    font-style: normal; }
    @media (max-width: 1172px) {
      .brand .brand__title {
        font-size: 44px;
        font-weight: 900;
        line-height: 53px;
        font-style: normal; } }
    @media (max-width: 767px) {
      .brand .brand__title {
        font-size: 38px;
        font-weight: 900;
        line-height: 46px;
        font-style: normal; } }
    .brand .brand__title-lower {
      display: block;
      font-size: 32px;
      font-weight: 700;
      line-height: 38px;
      font-style: normal; }
      @media (max-width: 1172px) {
        .brand .brand__title-lower {
          font-size: 24px;
          font-weight: 700;
          line-height: 29px;
          font-style: normal; } }
      @media (max-width: 767px) {
        .brand .brand__title-lower {
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
          font-style: normal; } }
    .brand .brand__title-wpr {
      align-items: center;
      background-color: #f1e4e6;
      display: flex;
      flex-grow: 1;
      padding-left: 64px; }
      @media (max-width: 767px) {
        .brand .brand__title-wpr {
          padding: 148px 56px 149px 53px;
          justify-content: center; } }
    .brand .brand__title-pink {
      color: #f26376; }

.sales {
  margin-top: 65px; }
  .sales__list {
    display: grid;
    grid-template: 1fr/repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 30px; }
    @media (max-width: 767px) {
      .sales__list {
        grid-template: 1fr/repeat(1, 1fr); } }
  .sales__title {
    color: #f26376;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    font-style: normal;
    text-transform: uppercase; }
  .sales__item {
    align-items: center;
    background-color: rgba(58, 56, 56, 0.86);
    display: flex;
    flex-direction: column;
    height: 260px;
    justify-content: center; }
    .sales__item-text {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      font-style: normal; }
    .sales__item--woman {
      background-image: url("../img/sales/women.jpg");
      background-position: 50% 20%;
      background-repeat: no-repeat;
      background-size: cover; }
    .sales__item--man {
      background-image: url("../img/sales/man.jpg");
      background-position: 50% 20%;
      background-repeat: no-repeat;
      background-size: cover; }
    .sales__item--kids {
      background-image: url("../img/sales/kids.jpg");
      background-position: 50% 20%;
      background-repeat: no-repeat;
      background-size: cover; }
    .sales__item--accessories {
      background-image: url("../img/sales/accessories.jpg");
      background-position: 50% 20%;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 1 / span 3;
      max-height: 180px; }
      @media (max-width: 767px) {
        .sales__item--accessories {
          grid-column: auto; } }

.products {
  margin-top: 97px;
  text-align: center; }
  .products__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    font-style: normal;
    color: #222; }
  .products__sub-title {
    color: #5d5d5d;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    font-style: normal;
    margin-top: 6px; }
  .products__list {
    display: grid;
    gap: 30px;
    margin-top: 48px;
    grid-template: 1fr/repeat(3, 1fr);
    grid-auto-flow: row; }
    @media (max-width: 1172px) {
      .products__list {
        grid-template: 1fr/repeat(2, 1fr);
        justify-items: center;
        gap: 15px; } }
    @media (max-width: 767px) {
      .products__list {
        grid-template: 1fr/repeat(1, 1fr);
        justify-items: center; } }
    .products__list .products__item {
      background: #f8f8f8;
      display: block;
      text-align: start;
      max-width: 360px; }
      @media (max-width: 1172px) {
        .products__list .products__item-hidden {
          display: none; } }
      .products__list .products__item-container {
        position: relative;
        margin-bottom: 25px;
        transition: all .5s ease .3s; }
        .products__list .products__item-container:before {
          content: '';
          width: 100%;
          min-height: 100%;
          background: rgba(0, 0, 0, 0.7);
          position: absolute;
          top: 0; }
        .products__list .products__item-container:before {
          display: none; }
      .products__list .products__item-title {
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        font-style: normal;
        color: #000;
        padding: 0 0 13px 18px;
        text-transform: uppercase; }
      .products__list .products__item-text {
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        font-style: normal;
        color: #5d5d5d;
        padding: 0 0 18px 18px; }
      .products__list .products__item-price {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        font-style: normal;
        color: #f26376;
        padding: 0 0 20px 18px; }
      .products__list .products__item-img {
        width: 100%; }
  .products__item-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    color: #fff;
    text-align: center; }
  .products__item-button {
    display: none;
    background: url(../img/icons/basket.svg) no-repeat 5px center;
    height: 43px;
    padding: 5px 16px 5px 50px; }
  .products__item:hover .products__item-button, .products__item:hover .products__item-container:before, .products__item:focus .products__item-button, .products__item:focus .products__item-container:before {
    display: block; }
  .products__item-button:active {
    background-color: rgba(54, 23, 23, 0.7); }
  .products__item:hover .products__item-button, .products__item:active .products__item-button {
    cursor: pointer; }

.pagination {
  height: 43px;
  margin-bottom: 96px;
  margin-top: 48px;
  width: 300px; }
  @media (max-width: 1172px) {
    .pagination {
      margin-bottom: 63px;
      margin-top: 40px; } }

.pager-item__link {
  color: #5d5d5d;
  text-decoration: none; }
.pager-current, .pager-item {
  display: inline-block;
  height: 19px;
  padding: 11px 5px;
  text-align: center;
  width: 10px; }
  .pager-current:hover, .pager-current:focus, .pager-item:hover, .pager-item:focus {
    background-color: rgba(200, 200, 200, 0.8);
    border-bottom: 2px solid #828282; }

.fa-angle-left,
.fa-angle-right {
  color: #222; }

.advantages {
  background-color: #222;
  margin-top: 100px; }
  .advantages__list {
    display: grid;
    grid-template: 1fr/repeat(3, 1fr);
    gap: 30px; }
    @media (max-width: 767px) {
      .advantages__list {
        grid-template: 1fr/repeat(1, 1fr);
        gap: 48px;
        padding: 48px 0 64px 0;
        max-width: 360px; } }
  .advantages__item {
    padding: 104px 0;
    text-align: center; }
    @media (max-width: 767px) {
      .advantages__item {
        padding: 0; } }
    .advantages__item-img {
      min-height: 40px;
      min-width: 40px; }
    .advantages__item-title {
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      font-style: normal;
      color: #f8f8f8;
      padding-top: 25px; }
    .advantages__item-text {
      font-size: 14px;
      font-weight: 300;
      line-height: 17px;
      font-style: normal;
      color: #f8f8f8;
      padding-top: 16px; }

.button {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-style: normal;
  margin-top: 49px;
  padding: 14px 39px;
  transition: all .3s ease .2s;
  background: #fff;
  border: 1px solid #f26376;
  color: #f26376; }
  .button:hover, .button:focus {
    background: #f26376;
    color: #fff;
    transition: all .3s ease .2s; }
  .button:active {
    opacity: .5; }

.footer__wrap {
  background-image: url("../img/footer/footer-bkg.png");
  background-size: cover; }
.footer__quote {
  display: grid;
  grid-template: 1fr / 1fr 1fr; }
  @media (max-width: 767px) {
    .footer__quote {
      grid-template: 1fr 1fr / 1fr;
      justify-items: center; } }
  .footer__quote-list {
    max-width: 360px;
    padding: 97px 0 140px 0;
    text-align: center; }
    @media (max-width: 767px) {
      .footer__quote-list {
        padding: 54px 0 30px 0; } }
  .footer__quote-img {
    padding-top: 10px; }
  .footer__quote-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
    padding-top: 30px; }
    @media (max-width: 767px) {
      .footer__quote-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        font-style: normal; } }
.footer .footer__form {
  margin: 0 auto;
  max-width: 360px;
  padding: 97px 0 140px 0;
  text-align: center; }
  @media (max-width: 767px) {
    .footer .footer__form {
      padding: 30px 0 39px 0; } }
  .footer .footer__form-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    font-style: normal;
    padding-top: 65px;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .footer .footer__form-title {
        font-size: 24px;
        font-weight: 400;
        line-height: 37px;
        font-style: normal;
        padding: 0; } }
  .footer .footer__form-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    padding-bottom: 32px;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .footer .footer__form-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        font-style: normal; } }
  .footer .footer__form-email {
    background-color: #e1e1e1;
    border: none;
    display: block;
    float: left;
    height: 37px;
    padding: 7px 0 5px 22px;
    width: 230px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    font-style: normal;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px; }
  .footer .footer__form-email:hover, .footer .footer__form-email:focus {
    background-color: #fff;
    transition: all .3s ease .2s; }
  .footer .footer__form-button {
    float: left;
    height: 49px;
    margin: 0;
    padding: 7px;
    text-transform: capitalize;
    width: 100px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    font-style: normal;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px; }
    @media (max-width: 500px) {
      .footer .footer__form-button {
        width: 90px; } }
.footer__wrp-social {
  background-color: #222; }
.footer__social {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 79px; }
  @media (max-width: 767px) {
    .footer__social {
      flex-direction: column-reverse; } }
  .footer__social-copy {
    color: #f8f8f8;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-style: normal; }
    @media (max-width: 767px) {
      .footer__social-copy {
        padding: 0 0 0 9px; } }
  .footer__social-list {
    align-items: center;
    display: flex;
    gap: 7px; }
    @media (max-width: 767px) {
      .footer__social-list {
        padding: 43px 0 40px 0; } }
  .footer__social-link:hover .footer__social-icon, .footer__social-link:focus .footer__social-icon {
    fill: #f26376;
    transition: all 1s ease .2s; }
  .footer__social-link:hover .social-icon__color, .footer__social-link:focus .social-icon__color {
    fill: #fff; }
  .footer__social-link:active .footer__social-icon, .footer__social-link:focus .social-icon__color {
    opacity: .7; }

.social-icon {
  fill: #fff;
  transition: all 1s ease .2s; }
  .social-icon__color {
    fill: #222;
    transition: all 1s ease .2s; }

.page-title {
  background: #f1e4e6; }
  .page-title__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    font-style: normal;
    padding: 60px 0;
    text-transform: uppercase;
    color: #f26376; }
    @media (max-width: 767px) {
      .page-title__title {
        text-align: center; } }

.page-title__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between; }

.breadcrumb__wrp {
  display: flex;
  text-transform: uppercase; }

.breadcrumb-item__link {
  color: #5d5d5d;
  margin-right: 30px;
  position: relative;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  font-style: normal; }

.breadcrumb-item__link:before {
  content: '/';
  position: absolute;
  right: -25px;
  width: 15px; }

.text-danger {
  color: #f26376;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  font-style: normal; }

.registration {
  display: grid;
  grid-template-columns: 360px 1fr;
  padding-bottom: 96px;
  padding-top: 64px; }
  @media (max-width: 767px) {
    .registration {
      grid-template-rows: 1fr minmax(340px, 340px);
      grid-template-columns: 1fr;
      max-width: 360px;
      display: grid;
      justify-items: center; } }
  .registration__content {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    font-style: normal;
    padding-right: 10px;
    margin-left: 128px; }
    @media (max-width: 1172px) {
      .registration__content {
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        font-style: normal;
        margin-left: 22px; } }
  @media (max-width: 1172px) and (max-width: 767px) {
    .registration__content {
      margin: auto 0; } }

    .registration__content-title {
      font-weight: 300;
      padding-bottom: 22px;
      text-transform: uppercase; }
      @media (max-width: 767px) {
        .registration__content-title {
          margin-top: 40px; } }
    .registration__content-text {
      padding-bottom: 21px; }
    .registration__content-item {
      margin-left: 25px;
      padding-bottom: 16px;
      position: relative; }
    .registration__content-item:before {
      background: transparent;
      background-image: url(../img/icons/check.svg);
      background-size: 15px 15px;
      content: '';
      height: 15px;
      left: -25px;
      position: absolute;
      top: 5px;
      width: 15px; }

.cart__wrapper {
  display: grid;
  grid-template: 1fr/minmax(352px, 652px) 1fr;
  margin-top: 96px;
  margin-bottom: 128px; }
  @media (max-width: 1172px) {
    .cart__wrapper {
      grid-template: 1fr minmax(272px, 352px)/1fr;
      margin-top: 59px; } }
  @media (max-width: 767px) {
    .cart__wrapper {
      grid-template: 1fr minmax(272px, 1fr)/1fr;
      margin-bottom: 96px; } }
.cart__list {
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  display: grid;
  grid-template: minmax(188px, 306px)/minmax(162px, 262px) 1fr;
  margin-bottom: 40px; }
  @media (max-width: 767px) {
    .cart__list {
      grid-template: 1fr / 1fr 2fr; } }
.cart__item {
  display: block;
  height: 100%;
  width: 100%; }
  .cart__item-img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .cart__item_btn {
    position: relative; }
.cart__inner-wrp {
  margin-left: 31px;
  margin-top: 22px;
  width: 50%; }
  @media (max-width: 767px) {
    .cart__inner-wrp {
      margin-left: 17px;
      margin-top: 13px;
      width: 50%; } }
.cart__inner-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  font-style: normal;
  color: #222;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .cart__inner-title {
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      font-style: normal; } }
.cart__inner-list {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  font-style: normal;
  margin: 42px 0 62px 32px; }
  @media (max-width: 767px) {
    .cart__inner-list {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      font-style: normal;
      margin: 26px 0 38px 17px; } }
.cart__inner-item {
  padding-bottom: 6px; }
.cart__inner-item_red {
  color: #f26376; }
.cart__inner-item_gray {
  color: #5d5d5d; }
.cart__inner-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 22px;
  top: 28px; }

[type="number"] {
  height: 15px;
  width: 25px;
  margin-left: 25px; }

.cart__button-wrp {
  display: flex;
  justify-content: space-between; }

.cart__button-wrp .cart__button {
  background-color: transparent;
  border: 1px solid #5d5d5d;
  color: #5d5d5d; }
  @media (max-width: 500px) {
    .cart__button-wrp .cart__button {
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      font-style: normal;
      padding: 10px 9px; } }

.cart__form {
  margin-top: 17px;
  margin-left: 128px; }
  @media (max-width: 1172px) {
    .cart__form {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      gap: 15px;
      margin: 65px 0 0 0; } }
  @media (max-width: 767px) {
    .cart__form {
      grid-template: 1fr minmax(214px, 1fr)/1fr;
      margin: 48px 0 0 0;
      gap: 0; } }

.form__legend {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-style: normal;
  text-transform: uppercase; }

.form__label .form__input {
  box-sizing: border-box; }

.form .form__button-card {
  background-color: transparent;
  padding: 10px 12px 14px 15px;
  text-transform: uppercase;
  border: 1px solid #5d5d5d;
  color: #5d5d5d;
  margin: 0; }

fieldset {
  display: flex;
  flex-direction: column; }

.form__legend {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  font-style: normal;
  padding-bottom: 20px; }

.form__label {
  padding-bottom: 20px;
  max-height: 44px; }

.form__input {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  font-style: normal;
  padding: 12px 0 12px 17px;
  width: 100%; }

.form__radio {
  margin-right: 10px;
  cursor: pointer; }

.form__radio-label {
  margin-right: 20px;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  font-style: normal;
  cursor: pointer; }

.form__text {
  padding-top: 15px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  font-style: normal; }

.form__label_radio {
  padding: 31px 0; }

.form__button {
  margin-top: 39px;
  text-transform: uppercase; }

.button {
  background: #f26376;
  border: 1px solid #f26376;
  color: #fff; }
  .button:hover, .button:focus {
    background: #fff;
    color: #f26376;
    transition: all .3s ease .2s; }

.form__button-img_color {
  fill: #fff;
  transition: all .3s ease .2s; }

.form__button:hover .form__button-img_color,
.form__button:focus .form__button-img_color {
  fill: #f26376;
  transition: all .3s ease .2s; }

.total {
  background-color: #f5f3f3;
  margin-top: 58px; }
  @media (max-width: 1172px) {
    .total {
      margin-top: 38px;
      margin-right: 0; } }
  .total__wrapper {
    padding: 39px 42px 42px 42px;
    max-width: 360px;
    margin: 0 auto; }
    @media (max-width: 500px) {
      .total__wrapper {
        max-width: 360px; } }
  .total__sub {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    font-style: normal;
    margin-bottom: 12px;
    text-align: end;
    text-transform: uppercase; }
    @media (max-width: 500px) {
      .total__sub {
        padding-top: 39px; } }
  .total__grand_gray {
    margin-right: -5px; }
  .total__grand {
    margin-bottom: 21px;
    margin-right: -3px;
    text-align: end;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    font-style: normal; }
    .total__grand_red {
      color: #f26376;
      margin-left: 25px; }
    .total__grand_gray {
      margin-right: -5px;
      margin-left: 25px; }
  .total__line {
    border: none;
    color: #e2e2e2;
    background-color: #e2e2e2;
    height: 1px; }
  .total__button {
    margin: 17px 0 0 0;
    padding: 15px 42px;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    font-style: normal;
    text-transform: uppercase; }
    .total__button-wrp {
      text-align: center; }

.wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr; }

.dropdown-content__wrp {
  position: relative; }

.dropdown-content__button {
  padding-top: 51px; }

.dropdown-content {
  position: absolute;
  z-index: 1;
  background: #fff;
  width: 360px;
  transform: translateY(-1500px);
  transition: transform 500ms;
  text-transform: uppercase;
  color: #f26376;
  padding: 13px 16px 0 16px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4); }

.dropdown-content__wrp:hover .dropdown-content,
.dropdown-content__wrp:focus .dropdown-content {
  transform: translateX(0) translateY(-20px); }

.dropdown-content__button {
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  font-style: normal;
  text-transform: uppercase; }

.dropdown-content__sort {
  fill: #222222;
  margin-left: 11px; }

.dropdown-content__sort-red {
  fill: #f26376; }

.dropdown__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  font-style: normal;
  border-bottom: 1px solid #5d5d5d;
  border-left: 5px solid #f26376;
  padding: 5px; }

.dropdown__list {
  color: #5d5d5d;
  text-transform: capitalize;
  padding-bottom: 11px;
  padding-left: 11px; }

.dropdown__item {
  padding-bottom: 11px; }

/*# sourceMappingURL=styles.css.map */
