
//color
$black: rgba(0, 0, 0, 1);
$button: rgb(255, 106, 106);
$button-text: rgb(242, 99, 118);
$button-bkg: #5e5e5e;
$black-bkg: #222;
$pink-bkg: #f1e4e6;
$brand-pink: #f16d7f;
$sales-text: #fff;
$color-text-title: #222;
$color-text: rgb(159, 159, 159);
$adventages-title: #f8f8f8;
$product-item-text: #5d5d5d;
$sales-bkg: rgba(33, 22, 22, .7);
$registration-bkg: #f8f3f4;

//calculate
$brand-img-calc: calc(100%/2);