//###color###//
$black: #000;
$pink-color: #f26376;
$white-color: #fff;
$pink-bkg: #f1e4e6;
$black-bkg: #222;
$color-text: #5d5d5d;
$adventages-title: #f8f8f8;
$sales-bkg: rgba(58, 56, 56, 0.86);
$total-bkg: #f5f3f3;
$total-line: #e2e2e2;
//############//

//###@Media###//
$destop-width: 1599px;
$laptop-width: 1172px;
$tables-width: 767px;
$mobile-widht: 374px;