//###color###//
$black: #000;
$pink-color: #f26376;
$white-color: #fff;
$product-item-text: #5d5d5d;
$pink-bkg: #f1e4e6;
$black-bkg: #222;
$color-text: #5D5D5D;
$adventages-title: #f8f8f8;
$sales-bkg: rgba(58, 56, 56, 0.86);
//############//