.header {
  background-color: $black-bkg;

  &__wrp {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 75px;
  }

  &__container-logo {
    margin-right: 41px;
    @include laptop {
      margin-left: 1em;
      margin-right: 41px;
    }
    @include tables {
      margin-left: 32px;
    }
    @include mobile {
      margin-left: 16px;
    }
  }

  &__container-link:hover &__container-icon,
  &__container-link:focus &__container-icon, {
    fill: $pink-color;
  }

  &__container-link:active &__container-icon {
    opacity: 0.8;
  }

  &__container-icon {
    fill: $white-color;
  }

  &__menu-list {
    align-items: center;
    display: flex;
    margin-right: 10px;
    @include laptop {
      margin-right: 16px;
    }
    @include tables {
      margin-right: 25px;
    }
    @include mobile {
      margin-right: 16px;
    }
  }

  &__burger, &__menu-title {
    background-color: transparent;
    border: none;
  }

  &__link {
    margin-left: 33px;
    @include tables {
      display: none;
    }
  }

  &__container-find {
    display: none;
    float: right;
    margin: 10px 0 0 10px;
  }

  &__container-link:hover + &__container-find,
  &__container-link:focus + &__container-find {
    display: block;
  }

  &__container-find:hover {
    display: block;
  }

  &__burger:hover + &__nav,
  &__burger:focus + &__nav {
    display: block;
  }

  &__menu-badge {
    background: $pink-color;
    border-radius: 50%;
    color: $white-color;
    display: inline-block;
    font-size: 8px;
    margin-left: -10px;
    min-width: 12px;
    padding: 3px 2px;
    position: absolute;
    text-align: center;
  }

  &__burger:hover &__icon,
  &__burger:focus &__icon,
  &-link:hover &__icon,
  &-link:hover &__icon, {
    cursor: pointer;
    fill: $pink-color;
  }

  &__burger:active &__icon,
  &-link:active &__icon {
    opacity: 0.8;
  }

  &__icon {
    fill: $white-color;
  }
}