.page-title {
  background: $pink-bkg;

  &__title {
    @include font (24px, 28px, 400);
    padding: 60px 0;
    text-transform: uppercase;
    color: $pink-color;
    @include tables {
      text-align: center;
  }
  }
}