.products {
  margin-top: 97px;
  text-align: center;

  &__title {
    @include font (30px, 36px);
    color: $black-bkg;
  }

  &__sub-title {
    color: $color-text;
    @include font (14px, 17px);
    margin-top: 6px;
  }

  &__list {
    display: grid;
    gap: 30px;
    margin-top: 48px;
    grid-template: 1fr / repeat(3, 1fr);
    grid-auto-flow: row;
    @include laptop {
      grid-template: 1fr / repeat(2, 1fr);
      justify-items: center;
      gap: 15px;
    }
    @include tables {
      grid-template: 1fr / repeat(1, 1fr);
      justify-items: center;
    }

    .products__item {
      background: $adventages-title;
      display: block;
      text-align: start;
      max-width: 360px;

      &-container {
        position: relative;
        margin-bottom: 25px;
        transition: all .5s ease .3s;

        &:before {
          content: '';
          width: 100%;
          min-height: 100%;
          background: rgba(0, 0, 0, 0.7);
          position: absolute;
          top: 0;
        }

        &:before {
          display: none;
        }
      }

      &-title {
        @include font (13px, 16px);
        color: $black;
        padding: 0 0 13px 18px;
        text-transform: uppercase;
      }

      &-text {
        @include font (14px, 17px, 300);
        color: $color-text;
        padding: 0 0 18px 18px;
      }

      &-price {
        @include font (16px, 19px);
        color: $pink-color;
        padding: 0 0 20px 18px;
      }

      &-img {
        width: 100%;
      }
    }
  }

  &__item-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $white-color;
    color: $white-color;
    text-align: center;
  }

  &__item-button {
    display: none;
    background: url(../img/icons/basket.svg) no-repeat 5px center;
    height: 43px;
    padding: 5px 16px 5px 50px;
  }

  &__item:hover &__item-button,
  &__item:hover &__item-container:before,
  &__item:focus &__item-button,
  &__item:focus &__item-container:before {
    display: block;
  }
&__item-button:active {
    background-color: rgba(54, 23, 23, 0.7);
  }

  &__item:hover &__item-button,
  &__item:active &__item-button{
    cursor: pointer;
  }
}