@media (max-width: 375px) {
  .container {
    margin: 0 auto;
    max-width: 375px;
  }
  .brand__img {
    display: none;

  }
  .brand__title-wpr {
  padding: 148px 0;
width: 236px;
  }
  .brand__title {
    font-size: 38px;
    line-height: 45px;
  }
  .brand__title-lower {
    display: block;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
  }
}