@import '../variables';

@media (max-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 768px;
  }
  .brand {
    display: flex;
    justify-content: space-between;
  }

  .brand__img {
  }

  .brand__title-wpr {
  }

  .brand__title {
    font-size: 44px;
    line-height: 52px;
  }

  .brand__title-lower {
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }

  .brand__title-pink {
    color: $brand-pink;
  }
  .sales__item {
    width: 323px;

  }
  .sales__item--woman {
    height: 168px;
    width: 232px;
  }

  .sales__item--man {
    height: 168px;
    width: 232px;
  }

  .sales__item--kids {
    height: 168px;
    width: 232px;
  }

  .sales__item--accessories {

    max-height: 116px;
    width: 100%;
  }

}

