.brand {
  display: grid;
  grid-template-columns:1fr 1fr;

  .brand__img-wrapper {
    background: #f4f2f3;

    .brand__img {
      display: block;
      max-width: 800px;
      width: 100%;
    }
  }

  .brand__title {
    border-left: 12px $pink-color solid;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    padding-left: 16px;
    text-transform: uppercase;

    &-wpr {
      align-items: center;
      background-color: $pink-bkg;
      display: flex;
      flex-grow: 1;
      padding-left: 64px;
    }

    &-lower {
      display: block;
      font-size: 32px;
      font-weight: 700;
      line-height: 38px;
    }

    &-pink {
      color: $pink-color;
    }
  }
}