.page-title__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.breadcrumb__wrp {
  display: flex;
  text-transform: uppercase;

}
.breadcrumb-item__link {
  color: $color-text;
  margin-right: 30px;
  position: relative;
  text-decoration: none;
  @include font(14px, 17px, 300);
}

.breadcrumb-item__link:before {
  content: '/';
  position: absolute;
  right: -25px;
  width: 15px;
}
.text-danger {
  color: $pink-color;
  @include font(14px, 17px, 700);
}