.button {
  @include font (16px, 19px);
  margin-top: 49px;
  padding: 14px 39px;
  transition: all .3s ease .2s;
  background: $white-color;
  border: 1px solid $pink-color;
  color: $pink-color;

  &:hover,
  &:focus {
    background: $pink-color;
    color: $white-color;
    transition: all .3s ease .2s;
  }
  &:active {
    opacity: .5;
  }
}
