.button {
  font-size: 16px;
  line-height: 19px;
  margin-top: 49px;
  padding: 14px 39px;
  transition: all .3s ease .2s;
  background: $white-color;
  border: 1px solid $pink-color;
  color: $pink-color;

  &:hover,
  &:focus {
    background: $pink-color;
    color: $white-color;
    transition: all .3s ease .2s;
  }
  &:active {
    opacity: .5;
  }
}
.form .form__button-card {
  background-color: transparent;
  padding: 10px 12px 14px 15px;
  text-transform: uppercase;
  border: 1px solid $color-text;
  color: $color-text;
  margin: 0;
}