.cart__wrapper {
  display: grid;
  grid-template: 1fr / 1.3fr 1fr;
  margin-top: 96px;
  margin-bottom: 128px;
}

.cart__list {
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  display: grid;
  grid-template: 1fr / 262px 1fr;
  margin-bottom: 40px;
}

.cart__item_btn {
  position: relative;
}

.cart__inner {
  &-wrp {
    margin-left: 31px;
    margin-top: 22px;
    width: 50%;
  }

  &-title {
    color: $black-bkg;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
  }

  &-list {
    font-size: 22px;
    line-height: 26px;
    margin: 42px 0 45px 32px;
  }

  &-item {
    padding-bottom: 6px;
  }

  &-item_red {
    color: $pink-color;
  }

  &-item_gray {
    color: $color-text
  }

  &-button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 22px;
    top: 28px;
  }
}

[type="number"] {
  height: 25px;
  width: 44px;
  margin-left: 25px;
}

.cart__button-wrp {
  display: flex;
  justify-content: space-between;
}

.cart__button-wrp .cart__button {
  background-color: transparent;
  border: 1px solid $color-text;
  color: $color-text;
}

///###form###///
.cart__form {
  margin-left: 128px;
}

.form {
}

.form__legend {
}

.form__label {
}

.form__label .form__input {
  box-sizing: border-box;

}

.visually-hidden {
}

.button {
}

.form__button {
}

.form__button-img {
}

.form__button-img_color {
}

.wpr_total {
}