.footer {
  &__wrap {
    background-image: url('../img/footer/footer-bkg.png');
  }

  &__quote-wrap {
    align-items: center;
    display: flex;
    min-height: 448px;
    justify-content: space-between;
  }

  &__quote-list {
    max-width: 360px;
    text-align: center;
  }

  &__quote-text {
    font-size: 20px;
    font-style: italic;
    line-height: 24px;
  }

  &__form {
    text-align: center;
    width: 360px;
  }

  &__form-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
  }

  &__form-text {
    font-size: 18px;
    line-height: 30px;
  }

  &__wrp-social {
    background-color: $black-bkg;
  }

  &__social {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 79px;
  }

  &__copy {
    color: $adventages-title;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  &__social-list {
    align-items: center;
    display: flex;
    gap: 7px;
  }
}