.footer {
  &__wrap {
    background-image: url('../img/footer/footer-bkg.png');
    background-size: cover;
  }

  .footer-quote__wrap {
    display: grid;
    grid-template: 1fr / 1fr 1fr;

  }

  &__quote-list {
    max-width: 360px;
    padding: 97px 0 140px 0;
    text-align: center;
  }

  &__quote-img {
    padding-top: 10px;
  }

  &__quote-text {
    font-size: 20px;
    font-style: italic;
    line-height: 24px;
    padding-top: 30px;
  }

  //form//
  &__form {
    margin: 0 auto;
    max-width: 360px;
    padding: 97px 0 140px 0;
    text-align: center;


    &-title {
      font-size: 24px;
      font-weight: 700;
      line-height: 40px;
      padding-top: 65px;
      text-transform: uppercase;
    }

    &-text {
      font-size: 18px;
      line-height: 24px;
      padding-bottom: 32px;
      text-transform: uppercase;
    }

    &-email {
      background-color: #e1e1e1;
      border: none;
      display: block;
      float: left;
      height: 37px;
      padding: 7px 0 5px 22px;
      width: 230px;
      @include font(14px, 400, 16px);
      @include border-radius-left(100px, 100px);
    }

    &-email:hover,
    &-email:focus {
      background-color: $white-color;
      transition: all .3s ease .2s;
    }

    &-button {
      float: left;
      height: 49px;
      margin-top: 0;
      padding: 7px;
      text-transform: capitalize;
      width: 100px;
      @include font(14px, 400, 16px);
      @include border-radius-right(100px, 100px);
    }
  }

  ///###social###///
  &__wrp-social {
    background-color: $black-bkg;
  }

  &__social {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 79px;

    &-copy {
      color: $adventages-title;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }

    &-list {
      align-items: center;
      display: flex;
      gap: 7px;
    }

    &-link:hover &-icon,
    &-link:focus &-icon {
      fill: $pink-color;
      transition: all 1s ease .2s;
    }

    &-link:hover .social-icon__color,
    &-link:focus .social-icon__color {
      fill: $white-color;
    }

    &-link:active &-icon,
    &-link:focus .social-icon__color {
      opacity: .7;
    }
  }
}
