.form {
}

fieldset {
  display: flex;
  flex-direction: column;
}

.form__legend {
}

.form__label {
}

.form__input {
  width: 100%;
}

.visually-hidden {
}

.form__radio {
}

.form__input-email {
}

.form__input-password {
}

.form__text {
}

.form__button {
}