fieldset {
  display: flex;
  flex-direction: column;
}

.form__legend {
  @include font (16px, 19px, 300);
  padding-bottom: 20px;
}

.form__label {
  padding-bottom: 20px;
  max-height: 44px;
}

.form__input {
  @include font (13px, 16px, 300);
  padding: 12px 0 12px 17px;
  width: 100%;
}

.form__radio {
  margin-right: 10px;
  cursor: pointer;
}

.form__radio-label {
  margin-right: 20px;
  @include font(11px, 13px, 300);
  cursor: pointer;
}

.form__text {
  padding-top: 15px;
  @include font(13px, 16px, 300);
}

.form__label_radio {
  padding: 31px 0;

}
.form__button {
  margin-top: 39px;
  text-transform: uppercase;
}

///###Button###///
.button {
  background: $pink-color;
  border: 1px solid $pink-color;
  color: $white-color;

  &:hover,
  &:focus {
    background: $white-color;
    color: $pink-color;
    transition: all .3s ease .2s;
  }
}

.form__button-img_color {
  fill: $white-color;
  transition: all .3s ease .2s;
}

.form__button:hover .form__button-img_color,
.form__button:focus .form__button-img_color {
  fill: $pink-color;
  transition: all .3s ease .2s;
}