.header {
  background-color: $black-bkg;

  &__wrp {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 75px;
  }

  &__logo {
    margin-right: 41px;
  }

  &__menu-list {
    align-items: center;
    display: flex;
  }

  &__burger {
    background-color: transparent;
    border: none;
  }

  &-link {
    margin-left: 33px;
  }

  &__nav {
    display: none;
  }
}
.header__menu-badge {
  display: inline-block;
  min-width: 10px;
  padding: 0px 3px;
  border-radius: 50%;
  font-size: 9px;
  text-align: center;
  background: #f26376;
  color: white;
  margin-left: -5px;
  position: absolute;

}