.header {
  background-color: $black-bkg;
}

.header__container {

}

.header__wrp {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 75px;
}

.header__container-logo {
  margin-right: 41px;
  @media (max-width: 768px) {
    margin-left: 32px;
  }
  @media (max-width: 375px) {
    margin-left: 16px;
  }
}

.header__container-link:hover .header__container-icon,
.header__container-link:focus .header__container-icon, {
  fill: $pink-color;
}

.header__container-link:active .header__container-icon {
  opacity: 0.8;
}

.header__container-icon {
  fill: $white-color;
}

.header__menu-list {
  align-items: center;
  display: flex;
  margin-right: 10px;

  @media (max-width: 768px) {
    margin-right: 25px;
  }
  @media (max-width: 375px) {
    margin-right: 16px;
  }

}

.header__burger, .header__menu-title {
  background-color: transparent;
  border: none;
}

.header__container-find {
  display: none;
  float: right;
  margin: 10px 0 0 10px;
}

.menu-title-basket, .menu-title-person {
  @media (max-width: 375px) {
    display: none;
  }
}

.header__container-link:hover + .header__container-find,
.header__container-link:focus + .header__container-find {
  display: block;
}

.header__container-find:hover {
  display: block;
}

.header-link {
  margin-left: 33px;
}

.header__burger:hover + .header__nav,
.header__burger:focus + .header__nav {
  display: block;
}

.header__menu-badge {
  background: $pink-color;
  border-radius: 50%;
  color: $white-color;
  display: inline-block;
  font-size: 8px;
  margin-left: -10px;
  min-width: 12px;
  padding: 3px 2px;
  position: absolute;
  text-align: center;
}

.header__icon {
  fill: $white-color;
}

.header__burger:hover .header__icon,
.header__burger:focus .header__icon,
.header-link:hover .header__icon,
.header-link:hover .header__icon, {
  cursor: pointer;
  fill: $pink-color;
}

.header__burger:active .header__icon,
.header-link:active .header__icon {
  opacity: 0.8;
}



















