.products {
  margin-top: 97px;
  text-align: center;
}

.products__title {
  color: $color-text-title;
  font-size: 30px;
  line-height: 36px;
}

.products__sub-title {
  color: $color-text;
  font-size: 14px;
  line-height: 17px;
  margin-top: 6px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 48px;
}

.products__item {
  background: $adventages-title;
  display: block;
  text-align: start;
  width: 360px;
}

.products__item-img {
  padding-bottom: 25px;
}

.product__item-title {
  color: $black;
  font-size: 13px;
  line-height: 16px;
  padding: 0 0 13px 18px;
  text-transform: uppercase;
}

.product__item-text {
  color: $product-item-text;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  padding: 0 0 18px 18px;
}

.product__item-price {
  color: $brand-pink;
  font-size: 16px;
  line-height: 19px;
  padding: 0 0 20px 18px;
}

.product__button {
  background: $sales-text;
  border: 1px solid $button;
  color: $button-text;
  font-size: 16px;
  line-height: 19px;
  margin-top: 49px;
  padding: 14px 39px;
  transition: all 1s ease .5s;
}


.product__button:hover {
  background: $button-text;
  color: $sales-text;
  transition: all 1s ease .5s;
}