.products {
  margin-top: 97px;
  text-align: center;

  &__title {
    color: $color-text-title;
    font-size: 30px;
    line-height: 36px;
  }

  &__sub-title {
    color: $color-text;
    font-size: 14px;
    line-height: 17px;
    margin-top: 6px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 48px;

    .products__item {
      background: $adventages-title;
      display: block;
      text-align: start;
      width: 360px;

      &-container {
        position: relative;
        margin-bottom: 25px;
        transition: all .5s ease .3s;
      }

      &-title {
        color: $black;
        font-size: 13px;
        line-height: 16px;
        padding: 0 0 13px 18px;
        text-transform: uppercase;
      }

      &-text {
        color: $product-item-text;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        padding: 0 0 18px 18px;
      }

      &-price {
        color: $brand-pink;
        font-size: 16px;
        line-height: 19px;
        padding: 0 0 20px 18px;
      }
    }
  }

  &__item-container:before {
    content: '';
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
  }

  &__item-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $sales-text;
    color: white;
    text-align: center;
  }

  &__item-button {
    display: none;
    background: url("../../img/icons/basket.svg") no-repeat 5px center;
    height: 32px;
    line-height: 32px;
    padding: 5px 5px 5px 50px;
  }

  &__item-container:before {
    display: none;
  }

  &__item:hover &__item-button,
  &__item:hover &__item-container:before {
    display: block;
  }
}