.total {
  background-color: $total-bkg;
  margin-top: 58px;
}

.total__wrapper {
  padding: 39px 34px 42px 44px;
}

.total__sub {
  margin-bottom: 12px;
  text-align: end;
  text-transform: uppercase;
  @include font-size(11px, 13px);
}

.total__grand_gray {
  margin-right: -5px;
  margin-left: 25px;
}

.total__grand {
  margin-bottom: 21px;
  text-align: end;
  text-transform: uppercase;
  @include font(16px, 300, 19px);
}

.total__line {
  border: none;
  color: $total-line;
  background-color: $total-line;
  height: 1px;
}

.total__grand_red {
  color: $pink-color;
  margin-left: 25px;
}

.total__button-wrp {
  display: flex;
  justify-content: center;
}

.total__button {
  margin: 17px 0 0 0;
  padding: 15px 43px 16px 41px;
  @include font(16px 300, 19px);
  text-transform: uppercase;
}